@{
  Layout = "_Layout";
}

<h2>Add a vendor</h2>
<form action="/vendors" method="post">
  <label for="vendorName">Vendors name:</label>
  <input id="vendorname" name="vendorName" type="text">
  <label for="vendorDescription">Vendor description:</label>
  <input type="text" name="vendorDescription" id="vendorDescription">
  <button type="submit">Add vendor</button>
</form>

