@{
  Layout = "_Layout";
}
@using BakeryTracker.Models;

<h2>Order details for: @Model["order"].OrderTitle</h2>
<h5>Order contents: @Model["order"].OrderDescription</h5>
<h6>Order total: $@Model["order"].OrderPrice</h5>
<h6>Date order placed: @Model["order"].OrderDate</h5>

<button>
  <a href='/vendors/@Model["vendor"].Id/orders'>Return to order list</a>
</button>
<button>
  <a href="/vendors">Return to all vendors</a>
</button>